@font-face {
font-family: 'MyriadPro';
    font-weight: bold;
    src: url("fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
font-family: 'MyriadPro Bold';
    font-weight: bold;
    src: url("fonts/MyriadPro-Bold.otf") format("opentype");
}

@font-face {
font-family: 'MyriadPro BoldCond';
    font-weight: bold;
    src: url("fonts/MyriadPro-BoldCond.otf") format("opentype");
}

@font-face {
font-family: 'MyriadPro BoldCondIt';
    font-weight: bold;
    src: url("fonts/MyriadPro-BoldCondIt.otf") format("opentype");
}

@font-face {
font-family: 'MyriadPro Cond';
    font-weight: bold;
    src: url("fonts/MyriadPro-Cond.otf") format("opentype");
}

@font-face {
font-family: 'MyriadPro CondIt';
    font-weight: bold;
    src: url("fonts/MyriadPro-CondIt.otf") format("opentype");
}



.App {
  text-align: center;
}

.App-logo {
  height: 44.57px;
  width: 90.66px;
}

.Content-logo {
  
    padding: 46px;
    padding-left: 54px;
}

body {
  background-color: #bb4a6b;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App-header {
  background-color: #60575e;
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 1; 
  border-bottom: 14px solid #bb4a6b;
}

.App-content-button a {

}

.App-body {
  
}

.brackground-intro {
  background-image: url('./img/background-intro.svg');
  background-repeat: no-repeat;
}

.circle {
     width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 auto;
    top: 137px;
    z-index: 2;
    position: relative;
}

.street {
    background-image: url(./img/street.svg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 185px;
    margin: 0px auto;
    top: 87px;
    position: relative;
    left: -4px;
}

.imgwrap:after {
    position: absolute; 
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgb(187, 74, 107)));
    background: -webkit-linear-gradient(top, rgba(137,255,241,0) 0%, rgb(187, 74, 107) 100%);
    background: -o-linear-gradient(top, rgba(137,255,241,0) 0%, rgb(187, 74, 107) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(137,255,241,0)),to(rgba(0,0,0,1)));
    background: linear-gradient(to bottom, rgba(137,255,241,0) 0%,rgb(187, 74, 107) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );
    z-index: 1;
    height: 96px;
    margin: 0px auto;
    position: absolute;
    left: 0px;
}


/* Util classes */

.p-l-none {
  padding-left: 0px;
}

.p-r-none {
  padding-right: 0px;
}

.m-l-none {
  margin-left: 0px;
}

.m-r-none {
  margin-right: 0px;
}

.f-right {
  float: right;
}

/*xl*/

 /* .hidden-lg {
    display: block;
  }

  .hidden-md {
    display: block;
  }

  .hidden-sm {
    display: block;
  }

  .hidden-xs {
    display: block;
  }*/

.App-content-button {
    padding: 60px;
}

.App-content-link ul li {
  display: inline-flex;
  margin: 0px 28px;
  color: #FFF;
    font-style: normal;
    text-decoration: none;
}

.App-content-link ul {
  padding-left: 25%;
}


.App-content-link ul li a {
  font-family: 'MyriadPro';
  font-size: 12px;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}


/*lg*/
@media (min-width:980px) {
  .hidden-lg {
    display: none !important;
  }
}

/*md*/
@media (min-width : 768px) and (max-width : 979px) {
  .hidden-md {
    display: none !important;
  }
}

/*sm*/
@media (min-width : 481px) and (max-width: 767px){
  .hidden-sm {
    display: none !important;
  }
}

/*xs*/
@media (max-width : 480px) {
  .hidden-xs {
    display: none !important;
  }

  .App-content-link ul {
    border-color :1px solid red;
    padding-left: 0px !important;
  }
}


.body {
  margin: 0 !important;
  padding: 0 !important;
}
.element {
  height:1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top:1px solid #000;
  padding-top:150px;
  padding-left:10px;
}

.active {
  font-weight: 600;
} 

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}