.App {
  text-align: center;
}

.App-logo {
  height: 44.57px;
  width: 90.66px;
}

.Content-logo {
  
    padding: 46px;
    padding-left: 54px;
}

body {
  background-color: #bb4a6b;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App-header {
  background-color: #5d1d1d;
  height: 136px;
  width: 100%;
  opacity: 0.8; 
}

.App-content-button a {

}

.App-body {
  
}

.brackground-intro {
  background-image: url('./img/background-intro.svg');
  background-repeat: no-repeat;
}

.circle {
     width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 auto;
    top: 137px;
    z-index: 2;
    position: relative;
}

.street {
    background-image: url(./img/street.svg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 185px;
    margin: 0px auto;
    top: 87px;
    position: relative;
    left: -4px;
}


/* Util classes */

.p-l-none {
  padding-left: 0px;
}

.p-r-none {
  padding-right: 0px;
}

.m-l-none {
  margin-left: 0px;
}

.m-r-none {
  margin-right: 0px;
}